*{
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.home{
    grid-column: 5;
  
}

.about-me{
    grid-column: 6;
    
}

.home, .about-me {
    color: #090909;
    text-decoration: none;
    font-size: 0.75rem;
      margin: 5px;
}



.date-home{
    position: relative;
    top: 2rem;;
    left: 3.5rem;
    
}

.hero{

    width: 100%;
    color: #090909 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



.journey{
    font-size: 2rem;
}

.after{
    max-width: 90%;
}

.her-png{
    border-radius: 50%;
     width: 11.5rem;
    margin: 1em ;
    margin-bottom: 0;
    box-sizing: border-box;
    
}

h1 {
    padding-left: 0.5em;
    padding-bottom: 0.25em;
    margin-bottom: 0;
    min-width: 400px;
}

p{
    padding-left: 1.3em;
    font-size: 0.8rem;
    margin-top: 0;
    max-width: 400px;
    min-width: 150px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#ques{
    margin-top: 20px;
}

.posts{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 2em;
    margin-top: 1em;
}

.blog-post{
    width: 100%;
}

.blog-1{
    width: 92%;
    margin-left: 1em;
    margin-bottom: 0;
    box-sizing: border-box;
    
}

.date-blog{
    margin-left: 1em;
    margin-top: 0.9em;
    font-size: 1rem;
}

.blog{
    padding-left: 0.7em;
}

.view{
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin: 30px;
    margin-top: 0px;
}


a:hover{
    text-decoration: underline;
}


.footer{
    height: 100px;
    width: 100%;
    background: #202020;
    color: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot-title, .copyright{
    margin: 0;
     font-size: 0.75rem;
}

.foot-title{
    font-weight: 500;
}

.copyright{
   
    font-weight: 300;
}



@media(min-width: 468px){
    
    .blog-post{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .text{
        max-width: 90%;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    .blog-post{
    width: 100%;
    height: 500px
}
    .journey{
         margin-left: 2.5rem;
     
         margin: 0
    }
    
    .after{
        margin-left: 2.5rem;
    margin-right: 2.5rem;
  ;
    margin: 0;
    }
    
    .her-png{
     
        margin: 0;
    }
    
    .head{
        display: flex;
        margin: 0.5em;
        padding: 0.5em;
    }
    
    .text1{
        padding: 1em;
        height: 11.5rem;
        align-items: center;
    }

}